#outer{
    height: 450px;
    width: 450px;
    border: 7px solid rgb(55, 125, 235);
    padding: 25px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 240);
}

.inner-box{
    height: 130px;
    width: 112px;
    border: 4px solid rgb(230, 60, 105);
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 250, 255);
}