*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #444;
}
.container{
    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 100px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.p1{
    font-size: 1.5rem;
    color: red;
}
.p2{
    font-size: 1.5rem;
    color: blueviolet
}

