body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    background-color:#ACBCFF;
    /* height: 3rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  

  #title-container {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  li{
    padding: 5px;
    margin: 0px;
  }
  li:nth-child(even) {
    /* margin-bottom: 10px; */
    background-color: #AEE2FF;
  }
  li:nth-child(odd) {
    /* margin-bottom: 10px; */
    background-color:#E6FFFD ;
  }
  
  @media (max-width: 600px) {
    body {
      padding: 10px;
    }
  }
  