

body{
    font-family: Arial, Helvetica, sans-serif;
}

.calendar{
    display: grid;
    grid-template-columns: repeat(7,100px);
    grid-template-rows: repeat(6,100px);
    gap: 5px;
    margin-bottom: 10px;
}

.calendar-day{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}