.cn {
    position: relative;
    height: 500px;
    width: 500px;
    background: lightgray; /* Just for visualization */
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: lightblue;
    text-align: center;
    line-height: 200px; /* To vertically center text */
}
