body{
    background-color: #444;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid #fff;
}

#p1,#p2{
    font-size: 40px;
}

#p1{
    color: red;
}
#p2{
    color: whitesmoke;
}