p{
    font-size: 30px;
}

/* p::before{
    content: "→ ";
    color: green;
} */
/* p::after{
    content: " ←";
    color: red;
} */

p::first-letter{
    font-size: 2em;
    color: blue;
}

p::first-line{
    font-weight: bold;
    color: orange;
}


.box::before{
    content: "i am before from pseudo element:";
    font-size: 2em;
    color: darkblue;
}
.box::after{
    content: "i am after from pseudo element:";
    color: pink;
    font-size: 2em;
}