body{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

#container{
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    border: 1px solid black;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}

#p1{
    color: red;
    font-size: 20px;
}
#p2{
    color: blue;
    font-size: 20px;
}